// buckets
.bucket {
  border:1px solid #ddd; background-color: #fff; border-radius: 4px;
  position: relative;
  width:250px;
  height: 308px;
  float:left; margin-right:20px; margin-bottom:20px; 
  h4 {
    font-size: 12pt; 
  }
  h5 {
    font-size:10pt;
    font-weight: 400;
    margin-top:-10px;
  }

  border-top:2px solid #8767A6; 

  small {
    font-size:90%; 
    color:#888;
    a { text-decoration:none; }
    svg { fill:#888; position:relative; top:2px; margin-left:-2px; margin-right:5px; }
  }
  .wrap { padding:10px; height:100px; }

  &:hover { box-shadow:0 3px 5px 1px #ddd; } 
  &.link { 
    border-top:2px solid #E98811;
    .img { height: 187px; overflow:hidden; }
    img { width:100%; border-bottom:1px solid #ddd; -max-height: 187px; }
    small { display:block; margin-top:-5px; }
  }
  &.note {
    border-top:2px solid #F7CA0F;
    background-color: #FCF8EC;
    p { margin-bottom: 20px; }
    ul { margin-bottom: 20px; }
    ul li { padding-bottom: 3px !important; }
    &.small { overflow: hidden; }
  }
  &.default {
    padding:10px;
  }
  .bucket-label { float:right; position:absolute; top:5px; right:5px; font-weight: bold; }
  .tags {
    position: absolute; margin-top: -25px; margin-left:5px;
  }
}
