%form.form-inline{ :style=>"float:right;", :onsubmit=>"Api.send('buckets/create', this, Pjax.refresh); return false;" }
  - if @bucket
    %input{ :name=>:bucket_id, :value=>@bucket.id, :type=>:hidden }
    %input{ :name=>:name, :style=>"width:200px;" }
    %button.btn + add bucket or link
  - else
    %input{ :name=>:name, :style=>"width:200px;" }
    %button.btn+ add bucket

.top-menu
  %a.btn.btn-sm.btn-empty{ :href=>'/buckets/archive' } archived
