%form.form-inline{ :style=>"float:right;", :onsubmit=>"Api.send('buckets/create', this, function(data){ Pjax.load(data.path+'/edit') }); return false;" }
  %input{ :name=>:name }
  %button.btn + add

.top-menu
  %a.btn.btn-sm.btn-empty{ :href=>'/buckets/archive' } archived
