.row
  .col-1
    %br
    %br
    - for @note in @bucket.notes
      = render @note

  .col-1
    %div{ :style=>"margin-top:-55px;" }
      %hr
      .widget.markdown= @bucket.description.or('no bucket description present')

%hr

%h4 Links

- for @link in @bucket.links
  = render @link