.top-menu
  %a.btn.btn-sm.btn-empty{ :onclick=>"Popup.go.form(this, 'Add new bucket', '/api/buckets/create', 'name', '')" } + Add bucket
  %a.btn.btn-sm.btn-empty{ :href=>'/buckets/archive' } Archived

- for bucket in @buckets
  .bucket
    %h4= bucket.as_link
    

= paginate @buckets

