#bucket_select
  - for el in @buckets
    %button.btn{ :onclick=>"TopModal.respond_click(#{el.id}, #{params[:id]})", :ondragover=>"event.preventDefault();", :ondrop=>"TopModal.respond_drop(event, #{el.id})" }= el.name

  = paginate @buckets

:coffee
  $('#bucket_select .paginate a').click ->
    href = this.getAttribute('href');
    $('#bucket_select').load(href);
    false