.top-menu
  %a.btn.btn-sm.btn-empty{ :onclick=>"Popup.go.form(this, 'Add new bucket', '/api/buckets/create', 'name', '')" } Add new link
  %a.btn.btn-sm.btn-empty{ :href=>'/buckets/archive' } Archived

%h2
  = @bucket.name
  %a.btn.show-on-hover{ :href=>@bucket.path(:edit) } edit

%div{ :style=>"clear:both; margin-top:10px; min-height:20px;" }= render 'main/_tags', :object=>@bucket

%hr

%h4 Notes

- for @note in @bucket.notes
  = render @note

%hr

%h4 Links

- for @link in @bucket.links
  = render @link