.top-menu
  %a.btn.btn-sm.btn-empty{ :onclick=>"Popup.go.form(this, 'Add new bucket', '/api/buckets/create', 'name', '')" } Add new link
  %a.btn.btn-sm.btn-empty{ :href=>'/buckets/archive' } Archived

%h2
  = @bucket.name
  %a.btn.show-on-hover{ :href=>@bucket.path(:edit) } edit