%form.form-inline{ :style=>"float:right;", :onsubmit=>"return App.create_link(this)" }
  %input{ :name=>:url }
  %button.btn + add

.top-menu
  %a.btn.btn-sm.btn-empty{ :href=>'/links?t=art' } articles
  %a.btn.btn-sm.btn-empty{ :href=>'/links?t=img' } images
  %a.btn.btn-sm.btn-empty{ :href=>'/links?t=vid' } videos
  %a.btn.btn-sm.btn-empty{ :href=>'/links?t=doc' } documents
  %a.btn.btn-sm.btn-empty{ :href=>'/links?t=dom' } domains
  %a.btn.btn-sm.btn-empty{ :href=>'/links/archive' } archived
