:ruby
  @articles = Link.can.paginate(30)

%form.form-inline{ :style=>"float:right;", :onsubmit=>"Api.post('links/create', { form:this, done:'refresh' }); return false;" }
  %input{ :name=>:url, :style=>"width:200px;" }
  %button.btn+ add link

%br

%h3 Latest links

= render 'main/_tag_list', klass:Link

- if @articles.empty?
  .tip
    No links to show, create some links in buckets.

= render 'main/links/_articles'