.row
  .col-2
  .col-3
    %h2 Please set password

    .well
      = form '/api/users/set_password', :template=>:ver do
        = input :pass
        = input :pass_confirm
        = submit 'Login'

  .col-2
