.navbar {
  background-color: #fff;
  border-bottom:1px solid #ccc;
  margin-bottom:20px;

  ul {
    display:inline;
    > li { 
      display: inline-block; 
      a {
       display: inline-block; padding:15px;
       text-align:center; 
       text-decoration:none;
       color: #888;

       svg { fill:#aaa; position:relative; top:-3px; margin-bottom:-6px;}
      }
      &.active { 
        background-color: #eee; 
        a { color:#000; font-weight:600; }
        svg { fill: #333; }
      }
      &:hover { background-color: #f7f7f7; }
    }
  }
  ul.main li { width:110px; text-align: center; }

  ul.pull-right { float:right; }
}