//= req css/index.scss
//= req ../components/toastr/toastr.min.css

body { background-color: #f7f7f7; }

.colorize {
  display:flex;
  > div { flex: 1; height:3px; }
  .buckets { background-color:#8767A6; }
  .links   { background-color:#E98811; }
  .notes   { background-color:#F7CA0F; }
}