//= req css/index.scss
//= req ../components/toastr/toastr.min.css

body { background-color: #f7f7f7; }

.fr { float:right; }
.r { text-align: right; }

// coolorized menu
.colorize {
  display:flex;
  > div { flex: 1; height:3px; }
  .buckets { background-color:#8767A6; }
  .links   { background-color:#E98811; }
  .notes   { background-color:#F7CA0F; }
  .users   { background-color:#ccc; }
}

// buttons and links in header tags
h1, h2, h3, h4, h5, h6 {
  a { text-decoration: none; color:#444; }
}
h4, h5, h6 {
  font-weight: 600;
}

h1, h2, h3 {
  a {
    text-decoration:none; 
    &:hover { text-decoration: underline; }
  }
  .btn {
    padding:3px 10px; font-size:10pt; font-weight: 400; position:relative; top:-5px;
    &:active { top:-4px; }
  }
}

// show on hover
.show-on-hover {
  opacity:0.2; 
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;  
}
h1:hover, h2:hover, h3:hover { .show-on-hover { opacity:1; } }


// buckets
.bucket {
  padding:10px; border:1px solid #ddd; background-color: #fff; border-radius: 4px;
  width:232px;
  height: 250px;
  float:left; margin-right:20px; margin-bottom:20px; 
  h4 {
    font-size: 12pt; 
  }

  &:hover { border-color:#ccc; } 
}

// other
.top-menu { margin:10px 0 10px 0; }

// popup
#popup {
  display:inline-block;
  font-size: 14px;
  z-index:100000;
  border:1px solid #b9b9b9; 
  border-radius: 3px;
  min-width:250px;
  // max-width:350px;
  padding:8px;
  background-color: #fff;
  position:absolute;
  margin-top:3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  #popup_title {
    font-weight: bold;
    color:#777;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 7px;
    padding-bottom: 5px;
  }
  #popup_body {
    input[type=text], textarea { border-radius:3px; margin-bottom:10px; background-color:#eee; display:block; margin-bottom: 10px; }
    input[type=checkbox] { width:auto; }
    input[type=text]:focus, textarea:focus { background-color:#fff; }
    textarea { height:72px; }
    hr { margin:10px 0; }
    label { margin-top:10px; clear:both; display:block;}
    .stick { margin:-8px 0 -10px -10px; }
  }
}
