= render '_wrap' do

  = table (@links=Link.desc.for(@bucket).like(params[:q], :name).paginate(30)), :class=>'table table-striped hover', :tr=>{ href:lambda { |el| el.path(:admin) } } do
    - row :id, :width=>40, :align=>:r, :name=>'ID'
    - row :url
    - row :creator

  = paginate @links