.bucket.note.small{ :href=>@note.path }
  .wrap
    %h4= @note.name
    - unless @bucket
      %h5 in #{@note.bucket.as_link}

    .w.markdown.small{ :style=>"font-size:90%;" }= @note.data.to_s.trim(330)
