= render :_menu

.row{ :style=>"clear:both;" }
  .col-1
  .col-5
    %div{ :style=>"clear:both; margin-top:30px; margin-bottom:20px; min-height:50px;" }= render 'main/_tags', :object=>@note
   
    %div
      .bucket.note{ :style=>"width:100%; min-height:600px; padding:30px;" }
        %a.btn.btn-sm{ :href=>@note.path(:edit), :style=>'float:right;' } Edit note
        %h3= @note.name

        %br

        .w.markdown= @note.data

  .col-1
    
  
