$gray7: #111;
$gray6: #333;
$gray5: #555;
$gray4: #777;
$gray3: #999;
$gray2: #ddd;
$gray1: #f7f7f7;

$background:        #eee;
$main-color:        #3498DB;
$success-color:     #1BBC9B;
$error-color:       #E74C3C;
$warning-color:     #F1C000;
$light-color:       #ecf0f1;
$dark-color:        #252428;
$main-light-color:  #72A8D6;
$main-grey-color:   #7F8184;
$color-diff:        #151515;
$border-radius:     3px;
$transition-time:   0.25s;

a.btn { cursor:pointer; }

button, input[type="submit"], input[type="button"]{
  font-weight: 600;
  font-size: 1em;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  cursor:pointer;
}

@mixin generate-btn($background, $color, $active-color){
  background: $background;
  color: $color;

  &:hover{
    background-color: $background - $color-diff;
    color: $active-color;
    text-decoration: none !important; 
  }
  &:active{
    background-color: $background - $color-diff*2;
    color: $active-color;
    top: 1px;
    position: relative;
  }
}

@mixin generate-empty-btn($border, $color){
  padding:3px 13px;
  border: 2px solid $border;
  color: $color;
  background: none;

  &:hover{
    color: $color - $color-diff;
    border-color: $border - $color-diff;
    background: none;
  }
  &:active{
    color: $color - $color-diff*2;
    border-color: $border - $color-diff*2;
    background: none;
  }
}

.btn{
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 1em;
  border: none;
  border-radius: $border-radius;
  font-size: 1em;
  line-height: 1.4em;
  text-align: center;
  text-decoration: none;
  transition: border-color $transition-time, background-color $transition-time, color $transition-time;

  // SMALL BUTTON
  &.btn-sm{
    padding: 5px 15px;
    min-width: 30px;
    font-size: 0.8em;
    line-height: 1.2em;
  }
  // BIG BUTTON
  &.btn-lg{
    padding: 12px 45px;
    min-width: 200px;
    font-size: 1.4em;
  }

  @include generate-btn($main-color, #fff, #fff);


  // SUCCESS BUTTON
  &.btn-success{
    @include generate-btn($success-color, #fff, #fff);
  }

  // ERROR BUTTON
  &.btn-error{
    @include generate-btn($error-color, #fff, #fff);
  }

  // WARNING BUTTON
  &.btn-warning{
    @include generate-btn($warning-color, #fff, #fff);
  }

  // LIGHT BUTTON
  &.btn-light{
    @include generate-btn($light-color, $gray3, #fff);
  }

  // DARK BUTTON
  &.btn-dark{
    @include generate-btn($dark-color, #fff, #fff);
  }



  // EMPTY BUTTONS
  &.btn-empty{
    background: transparent;
    border: 1px solid $main-color;
    border-radius: $border-radius;
    padding: 4px 15px;

    @include generate-empty-btn($main-color, $main-color);


    // SUCCESS BUTTON
    &.btn-success{
      @include generate-empty-btn($success-color, $success-color);
    }

    // ERROR BUTTON
    &.btn-error{
      @include generate-empty-btn($error-color, $error-color);
    }

    // WARNING BUTTON
    &.btn-warning{
      @include generate-empty-btn($warning-color, $warning-color);
    }

    // LIGHT BUTTON
    &.btn-light{
      @include generate-empty-btn($gray2, $gray3);
    }

    // DARK BUTTON
    &.btn-dark{
      @include generate-empty-btn($dark-color, $dark-color);
    }
  }


}