%h3 Users in app

%ul.list
  - for user in @users
    %li= link_to user.email, "/user/#{user.id}"


%hr

- for user in @users
    
  .well{ :style=>"width:33%; float:left;"}
    = render :show, :@user=>user
