.row.nudge
  .col-1
  .col-500
    %h2 Edit profile data

    .well
      = form User.current, :ver do
        = input :name
        = submit 'Save'
  .col-1

    %ul.vertical-links
      %li= link_to 'Log off', '/users/bye'